* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.logo {
  height: 2rem;
  margin-top: 1.5rem;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #008080;
}

.logo-main-page{
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: #008080;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 5%;
}

.welcome-message {
  display: flex;
  float: right;
}

.text {
  font-size: 1.8rem;
  font-family: 'Lobster', cursive;
}

.text-home-name {
  font-size: 1.8rem;
  font-family: 'Lobster', cursive;
  color: #008080;
}




