* {
  margin: 0;
  padding: 0;
}

/* .app {
  height: 100vh;
  background-color: #61dafb;
  text-align: center;
  display: grid;
  grid-template-columns: 10 35 10 35 10;
  grid-template-rows: 10 75 25;
} */

/* .navbar {
  min-width: 100%;
} */

.logo {
  display: flex;
  flex: right;
  height: 2rem;
  margin: 1rem;
  cursor: pointer;
}

.welcome-message {
  display: flex;
  float: right;
}

/* HOME */

/* .home {
  display: grid;
  grid-template-columns: 10 35 10 35 10;
  grid-template-rows: 10 75 15;
} */

/* WELCOME */

/* .welcome {
  display: grid;
  grid-template-columns: 10 35 10 35 10;
  grid-template-rows: 10 75 15;
} */

/* LOGIN */

/* .log-in {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
} */

/* SIGNUP */

/* .sign-up {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
} */

/* /////// */

